*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Título ---------------*/
.barra{
    color: rgb(255, 255, 255);
    background-color: #1a2a3a;
    display: flex;    
    align-items:center;    
    justify-content:space-between ;
    padding: 5px 40px; 
}
.logo1{
    width: 350px;

}

.btntitulo{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 35px;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 6px 2px;

    cursor: pointer; /*EFEITO AO PASSAR O CURSOR PELO BOTÃO */
    transition: 0.4s;
}

.divbotoes{
    display: flex;
    gap: 40px;

}

.divbotoes :hover{
    border-bottom: 2px solid #ffffff;
}
/* Menu --------------------------------*/
.menu{
    color: #ffffff;
    height: 380px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("./Logos/pexels-pixabay-270348.jpg");
    flex-wrap: wrap;
    flex-direction: column;
    
}

.fotoperfil{
    height: 160px;
}
.titulo{
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
    padding: 8px;
}
.contatos{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.logomarca{
    margin: 5px;
    width: 60px;
    justify-content: space-between;
    padding: 10px;
}






/* Footer --------------------------------*/
.footer{
    font-size: 13px;
    color: white;
    background-color: #1a2a3a;
    display: flex;    
    align-items:center;    
    justify-content:space-between ;
    padding: 0px 40px;
    width: 100%;
    height: 60px;
    position: absolute;
}



@media (max-width: 730px){
    .menu{
        font-size: 13px;
    }
    .barra{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btntitulo{
        font-size: 20px;
    }
    .contatos{
        font-size: 13px;
    }
}
@media (max-width: 570px){
    .menu{
        font-size: 10px;
    }
    .barra{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .btntitulo{
        font-size: 20px;
    }
    .contatos{
        font-size: 13px;
    }

}
@media (max-width: 400px){
    .barra{
        padding: 5px 20px;
    }
}